.app-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-screen {
  text-align: center;
  font-size: 1.2rem;
  color: #718096;
  font-style: italic;
}

